.container{
    position: center;
    margin-top: 150px;
}

table>:nth-child(1){
    background-color: white;
    font-weight: bold;
}

.table{
    background-color: whitesmoke;
}

.card{
    margin-top: 200px;
}

.row{
    margin-left: 150px;
}